:root {
  --black-bg-1: #111315;
  --icon-color: #1d5daa;
  --grey: #5f5f5f;
  --light-grey: #e7e7e7;
  --text: #222;
  --grey-bg: whitesmoke;
  --blue: #225fa5;
  --transparent: rgba(0, 0, 0, 0);
  --white: #fff;
  --black-bg-2: #1a1e21;
  --black-bg-3: #161616;
  --red: #e62f36;
  --white-2: white;
  --black: black;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.html {
  font-size: 16px;
}

.body {
  font-family: Poppins, sans-serif;
  font-size: 1em;
  position: relative;
}

.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper.full-width {
  height: 100%;
}

.wrapper.hours-section, .wrapper.our-services {
  padding-top: 5em;
  padding-bottom: 5em;
}

.section {
  max-width: 2100px;
}

.section.footer {
  background-color: var(--black-bg-1);
}

.image {
  width: 200px;
}

.top-bar {
  width: 90%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.top-email.hide {
  display: none;
}

.html-embed {
  background-color: var(--icon-color);
}

.top-bar-link-text {
  opacity: 1;
  color: var(--grey);
  margin-top: .2em;
  font-size: .8em;
  font-weight: 600;
  text-decoration: none;
}

.top-bar-link-text.placeholder {
  z-index: 1;
  position: relative;
}

.top-bar-link-block {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.top-bar-link-block.hide {
  display: none;
}

.image-2 {
  width: 20px;
  padding: 5px;
}

.top-bar-icon {
  width: 1.5em;
}

.icon-circle {
  border: .025em solid var(--light-grey);
  color: var(--light-grey);
  border-radius: 50%;
  padding: .6em;
  display: inline-block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav-menu {
  width: 100%;
  color: var(--text);
  text-align: left;
  padding: .5em 5%;
  display: inline-block;
  position: relative;
  top: 0;
}

.navbar {
  background-color: var(--grey-bg);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.div-block {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.slide-nav {
  display: none;
}

.top-boxes {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex: 0 auto;
  align-items: center;
  display: flex;
}

.slider-overlay {
  z-index: 10;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.slider-section {
  position: relative;
}

.slider-overlay-container {
  width: 100%;
  grid-column-gap: 2.75em;
  grid-row-gap: 2.75em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slider-overlay-logo {
  width: 30%;
}

.button {
  background-color: var(--blue);
  text-align: center;
  text-transform: uppercase;
  border-radius: 6px;
  align-items: center;
  padding: 15px 37px;
  transition: all .2s;
  display: flex;
  position: relative;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(1);
}

.button.explore {
  background-color: var(--transparent);
  text-shadow: 0 0 11px rgba(255, 255, 255, .37);
  border: 1px solid #fff;
  transition: all .2s;
}

.button.explore:hover {
  transform: translate(0, -3px);
}

.button.contact-us {
  z-index: 3;
  border: 1px solid var(--white);
  background-color: var(--transparent);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  transition: all .2s;
  position: relative;
}

.button.contact-us:hover {
  transform: translate(0, -3px);
}

.button.chevron {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.button.chevron:hover {
  transform: translate(0, -3px);
}

.slider-overlay-subheading {
  color: var(--white);
  text-align: center;
  text-shadow: 0 0 11px rgba(255, 255, 255, .25);
  font-size: 2.9em;
  font-weight: 600;
  line-height: 1.2;
}

.slider-overlay-subheading.mobile {
  display: none;
}

.slider-overlay-button-container {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  display: flex;
}

.slide {
  background-image: linear-gradient(rgba(0, 0, 0, .64), rgba(0, 0, 0, .64)), url('../images/talkingToPharmacist.jpg');
  background-position: 0 0, 50% 30%;
  background-size: auto, cover;
}

.slider {
  width: 100%;
  height: 560px;
}

.right-arrow {
  opacity: 0;
  display: none;
}

.slide-2 {
  background-image: linear-gradient(rgba(0, 0, 0, .64), rgba(0, 0, 0, .64)), url('../images/pharmacyOverhead.jpg');
  background-position: 0 0, 50% 62%;
  background-size: auto, cover;
}

.slide-3 {
  background-image: linear-gradient(rgba(0, 0, 0, .64), rgba(0, 0, 0, .64)), url('../images/ladyLookingAtProducts.jpg');
  background-position: 0 0, 50% 35%;
  background-size: auto, cover;
}

.slide-4 {
  background-image: linear-gradient(rgba(0, 0, 0, .64), rgba(0, 0, 0, .64)), url('../images/pharmacist_consultation_with_patient.jpg');
  background-position: 0 0, 50% 36%;
  background-size: auto, cover;
}

.footer-text-container {
  justify-content: space-between;
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
}

.footer-copyright {
  color: #7e7e7e;
  font-size: .9em;
}

.light-black-bg {
  color: var(--black-bg-2);
}

.footer-contact {
  background-color: var(--black-bg-2);
  color: var(--white);
  padding-bottom: 3em;
}

.footer-contact-box {
  background-color: var(--black-bg-3);
  justify-content: center;
  padding: 2em 3em 3em;
  display: flex;
}

.contact-box {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  color: var(--white);
  padding-bottom: .2em;
  padding-right: 3em;
  text-decoration: none;
  display: flex;
}

.contact-text {
  color: #7e7e7e;
  font-size: .9em;
  text-decoration: underline;
}

.contact-text-container {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-direction: column;
  text-decoration: none;
  display: flex;
}

.contact-text-container.right-border {
  border-right: 1px solid rgba(231, 231, 231, .2);
  margin-right: 2em;
  padding-bottom: .2em;
  padding-right: 3em;
}

.image-3 {
  width: 32px;
}

.blue-questions-box {
  background-color: #1d5da7;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 4em 5em;
  display: flex;
}

.questions {
  color: var(--white);
}

.h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.text-block-2 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.blue-bg-section {
  background-color: var(--icon-color);
}

._1-3-container {
  flex: 0 30%;
}

._1-3-centered-container {
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  justify-content: center;
  align-items: stretch;
  padding-top: 6em;
  padding-bottom: 6em;
  display: flex;
}

.h4 {
  color: var(--white);
  margin-bottom: 20px;
  font-size: 1.4em;
  font-weight: 500;
}

._1-3-text {
  color: var(--white);
  font-size: 1em;
  line-height: 1.6;
}

.text-block-3, .text-block-4 {
  color: var(--white);
}

.full-width-section {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/ladyAtCounter.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.full-width-container {
  height: 100%;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.solo-logo {
  width: 10%;
}

.wpas {
  color: var(--white);
  font-size: 2em;
  font-weight: 500;
}

.paragraph {
  width: 75%;
  color: var(--white);
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.6;
}

.hours-services-container {
  grid-column-gap: 3.25em;
  grid-row-gap: 3.25em;
  padding-top: 6em;
  padding-bottom: 2em;
  display: flex;
}

.we-are-open {
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 700;
}

.hours {
  text-align: center;
  font-weight: 500;
}

.learn-more-hours {
  margin-bottom: 30px;
}

.link-block {
  text-align: center;
  text-decoration: none;
  display: block;
}

.hours-container {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-direction: column;
  display: flex;
}

.pills-image {
  margin-bottom: 20px;
}

.left---hours {
  flex: 0 auto;
}

.right---services {
  flex-direction: column;
  flex: 85%;
  justify-content: space-between;
  display: flex;
}

.services-title {
  color: var(--icon-color);
  text-align: center;
  font-size: 1.9em;
  font-weight: 500;
  line-height: 1.1;
}

.services-container {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 7.3em;
  display: flex;
}

.service {
  flex: 0 48%;
}

.accesibility-icon, .clock-icon, .cart-icon, .dollar-icon {
  width: 12%;
}

.service-title {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: 600;
}

.service-p {
  font-weight: 300;
  line-height: 1.6;
}

.map-section {
  height: 325px;
  background-image: url('../images/scrnli_1_28_2024_8-10-12-PM.png');
  background-position: 50%;
  background-size: cover;
}

.special-offers-list {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-direction: column;
  display: flex;
}

.image-4 {
  width: 20px;
}

.special-offers-list-item {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav-link {
  transition: all .2s;
}

.nav-link:hover {
  color: var(--red);
}

.nav-link-2.w--current {
  color: var(--text);
  transition: all .2s;
}

.nav-link-2.w--current:hover {
  color: var(--red);
}

.nav-link-3 {
  color: var(--text);
  transition: all .2s;
}

.nav-link-3:hover {
  color: var(--red);
}

.nav-link-4 {
  transition: all .2s;
}

.nav-link-4:hover {
  color: var(--red);
}

.left-arrow {
  opacity: 0;
}

.service-container-top, .service-container-bottom {
  grid-column-gap: 2.75em;
  grid-row-gap: 2.75em;
  display: flex;
}

.slide-5 {
  background-image: url('../images/ladyLookingAtProducts.jpg');
  background-position: 50%;
  background-size: cover;
}

.slide-6 {
  background-image: url('../images/pharmacyOverhead.jpg');
  background-position: 50%;
  background-size: cover;
}

.zoom-slide-1 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/pic_1-scaled.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-3 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/pic_2-scaled.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-4 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/pic_3-scaled.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.zoom-slide-2 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/pic_2-scaled.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.zoom-slide-3 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/pic_3-scaled.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.zoom-slide {
  width: 100%;
  height: 100%;
}

.zoom-slide.slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/countyGate_Larger.jpg');
  background-position: 0 0, 50% 30%;
  background-size: auto, cover;
}

.zoom-slide.slide-2 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/326854893_543426074414877_6963799912995448360_n.jpg');
  background-position: 0 0, 50% 0;
  background-size: auto, cover;
}

.zoom-slide.slide-3 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/2A92C821-BF3C-4F4E-AA15-0C9E39BF91B1-1.jpeg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.hours-title {
  color: var(--icon-color);
  text-align: center;
  font-size: 4.5em;
}

.medical-centre-hours-container {
  justify-content: space-around;
  display: flex;
}

.days-container, .times-container {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-direction: column;
  display: flex;
}

.hours-text {
  opacity: .8;
  color: var(--grey);
  font-size: 2em;
  font-weight: 500;
}

.services-section {
  background-image: url('../images/blood-pressure-3524615_1920.jpg');
  background-position: 50%;
  background-size: cover;
}

.h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 4.5em;
}

.h2.hours-title {
  margin-bottom: 1em;
}

.h2.our-services-title {
  color: var(--white);
}

.h2.contact-us-title {
  color: var(--icon-color);
}

.medical-centre-map-section-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.image-container._1 {
  background-image: url('../images/countyGate_Larger.jpg');
  background-position: 50%;
  background-size: cover;
}

.image-container._2 {
  background-image: url('../images/2022-12-23.jpg');
  background-position: 50%;
  background-size: cover;
}

.image-container._4 {
  background-image: url('../images/2A92C821-BF3C-4F4E-AA15-0C9E39BF91B1-1.jpeg');
  background-position: 50%;
  background-size: cover;
}

.image-container._3 {
  background-image: url('../images/319977061_1135014077181746_362417582082948731_n.jpg');
  background-position: 50% 30%;
  background-size: auto;
}

.image-container._5 {
  background-image: url('../images/350133271_1629850597515598_5188130939594019129_n.jpg');
  background-position: 50% 40%;
  background-size: cover;
}

.image-container._6 {
  background-image: url('../images/318092714_5600052556729974_7769402818955939345_n.jpg');
  background-position: 50% 20%;
  background-size: cover;
}

.main-services-container {
  flex-direction: column;
  padding-top: 4em;
  display: flex;
}

.service-block {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  justify-content: center;
  align-items: center;
  margin-bottom: 6em;
  display: flex;
}

.service-block.hide {
  display: none;
}

.service-image {
  max-width: 50%;
  min-height: 18.75em;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  border-radius: 10px;
  flex-direction: column;
  flex: auto;
  align-items: center;
  padding: 2em;
  display: flex;
  box-shadow: 0 2px 7px 3px rgba(0, 0, 0, .07);
}

.service-image.service-image-1 {
  background-image: linear-gradient(#f0aa2d, #fbd459);
}

.service-image.service-image-2 {
  background-image: linear-gradient(#f0aa2d, #e1602c);
}

.service-image.service-image-3 {
  background-image: linear-gradient(#3f498c, #9d83af);
}

.service-image.service-image-4 {
  background-image: linear-gradient(#9b307f, #bd6498);
}

.service-image.service-image-5 {
  background-image: linear-gradient(#a4cb57, #d1de5a);
}

.service-image.service-image-6 {
  background-image: linear-gradient(#639cbb, #72afa2);
}

.service-text {
  grid-column-gap: 1.75em;
  grid-row-gap: 1.75em;
  flex-direction: column;
  flex: 0 45%;
  align-items: center;
  display: flex;
}

.medical-centre-services-container {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.medical-centre-services {
  width: 400px;
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  background-image: linear-gradient(107deg, #fff, rgba(255, 255, 255, .81));
  border-radius: 20px;
  flex-direction: column;
  padding: 1.3em 1.7em;
  display: flex;
}

.medical-centre-service-text {
  color: var(--red);
  font-size: 1.6em;
  font-weight: 700;
}

.medical-centre-service {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  align-items: center;
  display: flex;
}

.medical-centre-service-icon {
  width: 2em;
}

.our-services-text {
  color: #575757;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
}

.our-services-text.hide {
  display: none;
}

.service-image-text {
  color: var(--text);
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 500;
  line-height: 1;
}

.service-image-text.white {
  color: var(--white);
}

.service-image-icon {
  width: 30%;
}

.maps-link {
  width: 100%;
  height: 100%;
}

.mobile-logo {
  display: none;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.hover-colour-block {
  z-index: 3;
  width: 0;
  background-color: var(--red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hover-colour-block.original {
  width: auto;
  background-color: var(--grey);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  bottom: auto;
  left: auto;
}

.link-text-container {
  position: relative;
}

.hover-erase-block {
  background-color: var(--grey);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  align-items: center;
  display: none;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  overflow: hidden;
}

.white-text-cover-layer {
  z-index: 2;
  width: 0;
  background-color: var(--white);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button-border {
  z-index: -1;
  border: 1px solid var(--white);
  opacity: 0;
  transform-style: preserve-3d;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: scale3d(1.1, 1.3, 1);
}

.button-border:hover {
  transform: scale3d(1.1, 1.3, 1);
}

.button-border._4-br {
  z-index: 0;
  border-radius: 4px;
}

.button-border-effect-container {
  width: auto;
  position: relative;
}

.double-chevron {
  width: 1.1rem;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0;
}

.double-chevron:hover {
  cursor: pointer;
}

.div-block-5 {
  flex: 0 59%;
}

.text-block-5 {
  font-size: 5em;
}

.e {
  z-index: 1;
  color: var(--grey);
  margin-top: .2em;
  font-size: .8em;
  font-weight: 600;
  position: relative;
}

.eyes-to-fix-space-glitch {
  color: var(--grey);
  margin-top: .2em;
  font-size: .8em;
  font-weight: 600;
}

.eyes-to-fix-space-glitch.placeholder {
  z-index: 1;
  color: var(--grey);
  position: relative;
}

.opacity-0 {
  opacity: 0;
}

.hamburger {
  width: 2rem;
  height: 2rem;
}

.hamburger:hover {
  cursor: pointer;
}

.link {
  color: rgba(126, 126, 126, .99);
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .top-bar {
    height: auto;
    grid-column-gap: .75em;
    grid-row-gap: .75em;
    flex-direction: column;
    padding-top: 1.2em;
  }
}

@media screen and (max-width: 767px) {
  .top-bar {
    display: none;
  }

  .nav-menu {
    background-color: var(--light-grey);
  }

  .navbar {
    height: 75px;
    justify-content: space-between;
  }

  .slider-overlay-logo {
    width: 50%;
  }

  .button {
    text-align: center;
    font-size: 1.5em;
  }

  .button.explore, .button.contact-us {
    justify-content: center;
  }

  .slider-overlay-button-container {
    flex-direction: column;
  }

  .footer-text-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-contact-box {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    flex-direction: column;
    padding-top: 3em;
  }

  .contact-box {
    justify-content: center;
    align-self: flex-start;
  }

  .contact-title {
    font-size: 1.5em;
  }

  .contact-text {
    font-size: 1.2em;
  }

  .contact-text-container.right-border {
    border: 1px #000;
  }

  .blue-questions-box {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    flex-direction: column;
  }

  .h3 {
    font-size: 2.1em;
  }

  .text-block-2 {
    font-size: 1.5em;
  }

  ._1-3-container {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  ._1-3-centered-container {
    flex-direction: column;
  }

  .h4 {
    font-size: 2.1em;
  }

  ._1-3-text {
    text-align: center;
    font-size: 1.5em;
  }

  .solo-logo {
    width: 30%;
  }

  .wpas {
    font-size: 2.3em;
  }

  .paragraph {
    font-size: 1.6em;
  }

  .hours-services-container {
    flex-direction: column;
  }

  .we-are-open {
    font-size: 2.4em;
  }

  .hours {
    font-size: 1.7em;
  }

  .learn-more-hours {
    font-size: 1.5em;
  }

  .hours-container {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    padding-top: 4em;
  }

  .services-title {
    font-size: 2.2em;
  }

  .services-container {
    padding-top: 5em;
  }

  .service {
    width: 60%;
    flex-direction: column;
    flex: 0 auto;
    align-items: center;
    display: flex;
  }

  .service-title {
    font-size: 2.1em;
  }

  .service-p {
    text-align: center;
    font-size: 1.3em;
  }

  .map-section {
    background-position: 50%;
  }

  .nav-link, .nav-link-2, .nav-link-3 {
    padding-bottom: 10px;
    font-size: 1.3em;
  }

  .nav-link-4 {
    font-size: 1.3em;
  }

  .service-container-top, .service-container-bottom {
    flex-direction: column;
    align-items: center;
  }

  .image-container._4 {
    background-image: none;
    background-position: 0 0;
    background-size: auto;
  }

  .image-container._3 {
    background-image: url('../images/patient-testimonial-768x576.jpg');
    background-position: 0 0;
    background-size: auto;
  }

  .medical-centre-services-container {
    flex-direction: column;
  }

  .service-image-text, .service-image-text.white {
    font-size: 2.6em;
  }

  .image-6 {
    width: 200px;
  }

  .mobile-logo {
    height: 100%;
    padding-top: 1em;
    padding-left: 2em;
    display: inline-block;
  }

  .menu-button {
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    display: flex;
  }

  .menu-button.w--open {
    background-color: var(--blue);
  }
}

@media screen and (max-width: 479px) {
  .slider-overlay-container {
    width: 90%;
  }

  .button.explore {
    justify-content: center;
  }

  .slider-overlay-subheading {
    font-size: 2.5em;
  }

  .footer-copyright {
    text-align: center;
  }

  .contact-box {
    padding-right: 1em;
  }

  .image-3 {
    width: 2.6em;
  }

  .wpas {
    text-align: center;
  }

  .paragraph {
    width: 85%;
  }

  .service {
    width: 100%;
  }

  .service-title {
    text-align: center;
  }

  .nav-link, .nav-link-2, .nav-link-3, .nav-link-4 {
    font-size: 1.5em;
  }

  .medical-centre-map-section-container {
    flex-direction: column;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .medical-centre-map-container {
    width: 100%;
    height: 300px;
    background-image: url('../images/Map-Placeholder.png');
    background-position: 50%;
    background-size: cover;
    order: 1;
  }

  .medical-centre-map-title-container {
    display: none;
  }

  .image-container._2 {
    min-height: 350px;
  }

  .image-container._4 {
    background-image: url('../images/patient-testimonial-768x576.jpg');
    background-size: cover;
  }

  .image-container._3 {
    background-image: none;
    background-position: 0 0;
    background-size: auto;
  }

  .service-block {
    flex-direction: column;
  }

  .service-image {
    max-width: 70%;
    justify-content: center;
  }

  .service-image.service-image-1 {
    max-width: 70%;
  }

  .service-image.service-image-2, .service-image.service-image-4, .service-image.service-image-6 {
    order: -1;
  }

  .medical-centre-service-block {
    width: 90%;
  }

  .medical-centre-services {
    width: 100%;
  }

  .image-6 {
    width: 21em;
  }

  .link-block-2 {
    width: 100%;
    height: 100%;
  }

  .quick-stack {
    padding-top: 4em;
    padding-left: 0;
    padding-right: 0;
  }
}

#w-node-_19a89e93-4e1e-6963-00d9-7064f612a978-5a9acba9 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 767px) {
  #w-node-_19a89e93-4e1e-6963-00d9-7064f612a978-5a9acba9 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_19a89e93-4e1e-6963-00d9-7064f612a978-5a9acba9 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-_547c659c-e23e-7ec4-a112-a73a35e3ac1c-5a9acba9 {
    order: 4;
  }

  #w-node-_8c15dede-5e15-5b2d-d9b3-949a6b55eb17-5a9acba9 {
    order: 3;
  }
}


